@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css or global.css */
body {
    @apply bg-lightColor text-darkColor dark:bg-darkColor dark:text-lightColor;
}

/* styles.css or global.css */
/* :root {
    --bg-color: #ffffff;
    --bg-color-header: #eff6ff;
    --bg-color-footer: #eff6ff;
    --text-color: #1a202c;
}

.navbar {
    box-shadow: none !important;
}

.dark {
    --bg-color: #1a202c;
    --bg-color-header: #202837;
    --bg-color-footer: #202837;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.bg-light-header {
    background-color: var(--bg-color-header);
}

.bg-light-footer {
    background-color: var(--bg-color-footer);
}

.bg-gray-900 {
    background-color: var(--bg-color);
}

.text-gray-300 {
    color: var(--text-color);
}

.ring-white {
    --tw-ring-color: var(--text-color);
}

.text-white {
    color: var(--text-color);
}

.profile-card-back {
    background-color: var(--bg-color) !important;
} */