:root {
    /* Light Theme */
    --color-bg: #F0F2F5;
    --color-primary: #2C3E50;
    --color-secondary: #34495E;
    --color-accent: #1ABC9C;
    --color-text: #2C3E50;
    --color-button-bg: #2C3E50;
    --color-button-text: #ECF0F1;
    --color-button-hover-bg: #0f6ab4;
    --color-button-hover-text: #FFFFFF;
}

[data-theme="dark"] {
    /* Dark Theme */
    --color-bg: #2C3E50;
    --color-primary: #ECF0F1;
    --color-secondary: #95A5A6;
    --color-accent: #1ABC9C;
    --color-text: #ECF0F1;
    --color-button-bg: #ECF0F1;
    --color-button-text: #2C3E50;
    --color-button-hover-bg: #539cd8;
    --color-button-hover-text: #2C3E50;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-primary);
}

a {
    color: var(--color-accent);
}

button {
    background-color: var(--color-button-bg);
    color: var(--color-button-text);
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: var(--color-button-hover-bg);
    color: var(--color-button-hover-text);
}
